p{
    font-family:Arial;
}
.first_para{
    font-size:25px;
    color:rgb(0, 120, 130);
    text-decoration:underline;
    margin-bottom: 20px;

}
.second_para{
    font-weight:bold;
    font-size:45px;
    color:black;
    margin-bottom: 35px;

}
.third_para{
    font-size:24px;
    font-weight:bold;
    color:green;
    margin-bottom: 20px;
}
.fourth_para{
    font-size:24px;
    font-weight: bold;
    color:black;
    margin-bottom: 30px;
}
.first_button{
    font-family:Arial;
    background-color:rgba(255, 251, 0, 0.616);
    color:black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30PX;
    padding-right:30px;
    border-radius:30px;
    font-size:30px;
    cursor:pointer;
    margin-right: 20px;
}
.first_button:hover{
    background-color: rgba(255, 251, 0, 0.918);
    transition:background_color 0.15s
}
.first_button:active{
    opacity:0.5;
}
.second_button{
    font-family:Arial;
    background-color:rgba(255, 153, 0, 0.712);
    color:black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30PX;
    padding-right:30px;
    border-radius:30px;
    font-size:30px;
    cursor:pointer;
}
.second_button:hover{
    background-color: rgba(255, 153, 0, 0.952);
    transition:background_color 0.15s
}
.second_button:active{
    opacity:0.5;
}

